<h1>Listado de Productos</h1>

<form method="post">
    <label>Dirección de envio</label>
    <input type="text" name="direccion" class="form-control"/>
    <button class="btn btn-info">
        Realizar pedido
    </button>
    <ul class="list-group">
        <li class="list-group-item">
            <input type="checkbox" name="producto"
                value="Tesla 40.000€"/> Tesla 40.000€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto"
                   value="IPhone 19 5.000€" /> IPhone 19 5.000€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto"
                   value="Ordenador Gaming 2.500€" /> Ordenador Gaming 2.500€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto"
                   value="Arbitros Negreira 900.000€" /> Arbitros Negreira 900.000€
        </li>
    </ul>
</form>